.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: rgba(167, 235, 243, 0.221);
}

.nav-category {
  display: inline-block;
  padding: 7px;
  color: white;
  border: 1px solid black;
  margin: 10px;
  background-color: rgb(101, 142, 13);
  border-radius: 5px;
}

.category-list {
  border: 1px solid black;
  width: 40%;
  margin: 10px auto;
  padding: 1rem;
}
